*{
	margin: 0;
}
body{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.regular__form{
	height: 355px;
	width: 565px;
	border: 1px solid rgb(1, 170, 229);
}
.div__text{
	width: 60%;
	display: flex;
	justify-content: right;
	margin-top: 10px;
}
.div__textarea{
	width: 94%;
	display: flex;
	justify-content: right;
	margin-top: 10px;
}
.div__protection{
	width: 88%;
	margin-top: 10px;
	display: flex;
	justify-content: right;
}
span{
	font-family: 'Ubuntu', sans-serif;
	font-size: 13px;
	height: 22px;
	line-height: 22px;
	margin-right: 10px;

}
input{
	border: 1px solid rgb(1, 170, 229);
	height: 22px;
}
select{
	border: 1px solid rgb(1, 170, 229);
	width: 210px;
	height: 26px;
	color:  blue;
	background-image: url(../blue-gray.jpg);
	background-size: 13px 17px;
	background-repeat: no-repeat;
	background-position: 192px 4px;
}
textarea{
	border: 1px solid rgb(1, 170, 229);
	width: 396px;
	resize: none;
}
img{
	border: 1px solid rgb(1, 170, 229);
	height: 50px;
	width: 150px;
	margin-left: 16px;
}
.button__captcha{
	font-family: 'Ubuntu', sans-serif;
	border: none;
	background: none;
	text-decoration-line: underline;
	margin-top: 3px;
	cursor: pointer;
}
.div_submit{
	width: 20%;
	margin-left: 131px;
	margin-top: 15px;
}
.input_submit{
	font-family: 'Ubuntu', sans-serif;
	border: 1px solid rgb(7, 9, 81);
	width: 88px;
	border-radius: 4px;
	cursor: pointer;
}