*{
	margin: 0;
	padding: 0;
}
.grid1{
	display: grid;
	background: url(../bg2.jpg);
	background-size: 100% 100%;
	grid-template-rows: 25vh 25vh 25vh 25vh;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
}
section > div > div{
	border-width: 1px 1px 0px 0px;
	border-style: solid;
	border-color: rgba(255, 255, 255, 0.3);
	font-family: 'Oswald', sans-serif;
	position: relative;
	color: white;
}
.grid1 > div:nth-child(2){
	grid-column: 2/3;
	grid-row: 1/4;
	background: darkred;
}
.grid1 div:nth-child(6){
	background: darkred;

}
.grid{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 25vh);
	background: url(../bg1.jpg);
	background-size: 114% 120%;
	background-position: 11% 16%;
}
div:nth-child(5){
	display: flex;
	align-items: center;
	justify-content: center;
}
.phone{
	width: 93px;
}
div:nth-child(6){
	background-color: darkred;
	display: flex;
	align-items: center;
	justify-content: center;
}
.text{
	position: absolute;
	z-index: 1;
	left: 161px;
	top: 97px;
}
.name{
	font-size: 60px;
	line-height: 50px;
}
.date1{
	text-align: center;
	font-size: 80px;
	font-weight: 900;
}
.date2{
	font-size: 16px
}
span[class="plus"]{
	color: rgba(255, 255, 255, 0.7);
	position: absolute;
	left: -3px;
	top: -12px;
}
.big__plus{
	color: rgba(255, 255, 255, 0.5);
	font-size: 40px;
	position: absolute;
	left: -8px;
	top: -31px;
}
div div .menu{
	display: block;
	text-decoration: none;
	color: rgba(255, 255, 255, 0.7);
	font-size: 30px;
}
.number{
	color: rgba(255, 255, 255, 0.5);
	position: absolute;
	left: 200px;
	top: 10px;
	cursor: pointer;
	transition: 500ms;
}
.number:hover{
	color: white;
}
.logotype{
	display: flex;
	align-items: center;
	justify-content: center;
}
.logo{
	font-family: 'M PLUS 1 Code', sans-serif;
	position: absolute;
	left: 70px;
	bottom: 38px;
	text-align: center;
}
.logo__top{
	height: 53px;
	font-size: 50px;
}
.logo__bottom{
	font-size: 6px;
}
.grid > div:nth-child(8){
	grid-row: 2/4;
	grid-column: 2/6;
	background-color: darkred;
}
.grid > div:nth-child(10){
	grid-row: 3/5;
	grid-column: 1/2;
}
.content{
	width: 60%;
	font-size: 13px;
	color: rgba(255, 255, 255, 0.7);
	font-family: 'M PLUS 1 Code', sans-serif;
	padding-top: 100px;
	padding-left: 250px;
}
.grid1 div:nth-child(17), .grid1 div:nth-child(18), .grid1 div:nth-child(19){
	height: 100%;
	width: 100%;
	backdrop-filter: blur(4px);
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.grid1 div:nth-child(22){
	display: flex;
	align-items: center;
	justify-content: center;
}
.item4{
	height: 233px;
	font-size: 150px;
}
.location1{
	height: 30px;
	width: 30px;
	position: absolute;
	left: 113px;
	top: 60px;
}
.pointer{
	height: 30px;
	width: 30px;
	background-color: rgba(204, 204, 204, 0.3);
	border-radius: 50%;
	display: flex;
}
.dot{
	height: 10px;
	width: 10px;
	background: red;
	border-radius: 50%;
	margin: auto;
}
.title__cloud{
	position: absolute;
	left: 143px;
	font-size: 100px;
}
.arrow{
	height: 40px;
	width: 70px;
	font-size: 40px;
	color: rgba(255, 255, 255, 0.5);
	margin-left: 140px;
	margin-top: 70px;
}
.grid2{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 25vh);
	background-color: rgb(50, 51, 56);
}
.grid2 div[class="background"]{
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(74, 75, 79);
	color: rgba(255, 255, 255, 0.5);;
}
.icon{
	width: 90px;
}
.brand{
	display: block;
	height: 70px;	
	width: 90px;
}
.grid3{
	display: grid;
	grid-template-columns: repeat(6, 1fr);
	grid-template-rows: repeat(4, 25vh);
	background: url(../world-map-wallpaper-preview.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.grid3 div:nth-child(10){
	grid-column: 4/6;
	grid-row: 2/4;
	background: darkred;
}
h3{
	color: rgba(255, 255, 255, 0.5);
	font-weight: 100;
	text-align: center;
	margin-top: 50px;
}
form{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 50px 50px 50px 50px;
	margin-top: 20px;
}
form div:nth-child(1n){
	display: flex;
	justify-content: center;
	align-items: center;
}
form div:nth-child(5){
	grid-column: 1/3;
}
form div:nth-child(6){
	grid-column: 1/3;
}
input[type="text"]{
	height: 20px;
	width: 150px;
	background: darkred;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.5);
	font-size: 10px;
}
textarea, input[type="text"]:focus-visible{
	outline: none;
}
textarea{
	font-family: 'M PLUS 1 Code', sans-serif;
	height: 20px;
	width: 375px;
	background: darkred;
	border: none;
	border-bottom: 1px solid rgba(255, 255, 255, 0.5);
	color: rgba(255, 255, 255, 0.5);
	resize: none;
	font-size: 10px;
}
.submit{
	width: 100px;
	height: 25px;
	background: darkred;
	border: none;
	color: rgba(255, 255, 255, 0.5);
	border: 1px solid rgba(255, 255, 255, 0.5);
	margin-left: 275px;
	cursor: pointer;
}
.info{
	font-variant: small-caps;
	position: absolute;
	top: 70px;
	left: 40px;
}
.location{
	height: 30px;
	width: 30px;
	position: absolute;
	left: 215px;
	top: 70px;
}
