*{
	margin: 0;
	padding: 0;
}
body{
	width: 100vw;
}
body > div{
	height: 95%;
	width: 95%;
	border: 2px dotted grey;
}
body > div > div{
	border-bottom: 2px dotted grey;
	margin: 20px;
}
div[class*="rectangle"]{
	width: 200px;
	margin-bottom: 20px;
	border: 1px solid red;
	color: red;
	transition-duration: 1.5s;
}
.first__group div:nth-child(n){
	height: 100px;
}
.first__group div:nth-child(n):hover{
	background: red;
}
.rectangle2:hover{
	color: white;
}
.second__group div:nth-child(n){
	height: 50px;
}
.third__group{
	border: none;
}
.rectangle3:hover{
	width: 100%;
}
.rectangle4:hover{
	width: 100%;
	font-size: 27px;
}
.rectangle5:hover{
	margin-left: 60px;
	width: 500px;
}
.rectangle6{
	line-height: 50px;
	text-align: center;
}
p{
	transform: translateX(1273px);
	transition-duration: 1.5s;
}
.rectangle6:hover p{
	transform: translateX(0px);
}
.rectangle7:hover{
	transition-duration: 5s;
	transition-delay: 3s;
	width: 100%;
}
.list__item{
	height: 400px;
	width: 100%;
	border: 1px solid green;
}
ul{
	width: 92%;
	list-style-type: none;
	margin: 40px 50px;
}
li{
	height: 30px;
	width: 30%;
	border: 1px solid red;
	margin-bottom: 40px;
	transition-duration: 2s;
}
.list__item:hover li{
	width: 100%;
}

