*{
	margin: 0;
	padding: 0;
}
header{
	height: 50px;
	background-color: rgb(46, 46, 46);
}
.fas{
	height: 40px;
	width: 40px;
	color: rgb(225, 237, 247);
	margin: 20px;
	position: relative;
	cursor: pointer;
}
ul{
	font-family: 'Roboto Condensed', sans-serif;
	list-style-type: none;
	font-size: 13px;
	font-weight: 100;
	height: 250px;
	width: 250px;
	background-color: rgb(46, 46, 46);
	position: absolute;
	left: -19px;
	top: 31px;
	opacity: 0;
	cursor: pointer;
	transition-duration: 500ms;
}
li{
	border: 1px solid rgba(85, 85, 85, 0.5);
	margin: 3px 20px 7px;
	padding: 7px;
}
a{
	text-decoration: none;
	color: rgb(225, 237, 247);
}
.fas:hover ul{
	opacity: 1;
}
li:hover{
	background-color: black;
}
li:hover a{
	color: white;
}