*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.menu{
	height: 60px;
	background: rgb(60, 62, 61);
	display: flex;
	justify-content: space-between;
}
div > ul{
	font-family: 'Readex Pro', sans-serif;
	list-style-type: none;
	cursor: pointer;
	display: flex;
	align-items: center;
}
.data__items{
	width: 60%;
}
.register__items{
	width: 23%;
}
div > .data__items > li{
	height: 40px;
	width: 15%;
	text-align: center;
	border-right: 1px solid rgba(124, 124, 124, 0.3);
}
div > .register__items > li{
	width: 33%;
	display: flex;
	align-items: center;
}
.data__items li a{
	font-size: 19px;
	color: gray;
	text-decoration: none;
	line-height: 40px;
	letter-spacing: -1px;
}
.register__items li a{
	display: block;
	height: 22px;
	width: 44%;
	font-size: 16px;
	color: gray;
	text-decoration: none;
	letter-spacing: -1px;
	background: url(../circle1.png);
	background-repeat: repeat-x;
    background-size: 3px;
    background-position: 0 100%;
    margin-left: 10px;
}
.register__items li .underline__items2{
	width: 57px;
}
.register__items li .underline__items3{
	width: 22px;
	margin-left: 32px;
}
.register__items li .underline__items4{
	width: 22px;
	background: none;
}
.data__items li:nth-child(7){
	word-spacing: 5px;
}
.fa-user{
	font-size: 14px;
	color: gray;	
}
.fa-shoe-prints{
	font-size: 14px;
	color: gray;
	transform: rotate(-90deg);
}
.data__items li a:hover{
	color: rgb(188, 242, 12);
}
.register__items li a:focus{
	color: rgb(188, 242, 12);
	background: url(../circle1.png);
	background-repeat: repeat-x;
    background-size: 3px;
    background-position: 0 100%;