*{
	margin: 0;
	padding: 0;
}
body{
	height: 94vh;
}
.wrapper{
	height: 100%;
	width: 70%;
	margin: auto;
	filter: contrast(80%);
}
.banner1{
	background-image: url(../img/2919839.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0% 63%;
	height: 58%;
	width: 100%;
}
.screen__part1{
	height: 40%;
	width: 100%;
	position: relative;
}
.heading{
	height: 85px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	text-align: center;
	text-transform: uppercase;
	line-height: 85px;
	font-size: 50px;
	font-family: 'Nothing You Could Do', cursive;
	position: absolute;
	margin-top: 67px;
}
.screen__part2{
	height: 60%;
	width: 83%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 65px;
}
.wrap{
	height: 80%;
	width: 31%;
	background-color: rgba(0, 0, 0, 0.5);
	box-shadow: 2px 3px 5px rgba(0, 0, 0);
}
.windows{
	height: 100%;
	width: 80%;
	color: rgb(206, 204, 207);
	padding: 26px;
}
h3{
	text-transform: uppercase;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 12px;
	padding: 10px;
	text-align: right;
}
.text{
	font-family: 'Mukta', sans-serif;
	font-size: 8px;
	text-align: justify;
	text-align-last: right;
	line-height: 11px;
}
.banner2{
	height: 42%;
	width: 100%;
	display: flex;
}
.footer__text{
	height: 100%;
	width: 60%;
}
.footer__text__content{
	height: 62%;
    width: 71%;
    margin: 29px 123px;
    color: rgb(73, 73, 73);
}
h2{
	text-transform: uppercase;
	font-family: 'Nothing You Could Do', cursive;
	font-size: 15px;
	line-height: 44px;
}
.text1{
	font-family: 'Mukta', sans-serif;
	font-size: 12px;
    text-align: justify;
    text-align-last: right;
    line-height: 11px;
}
.footer__links{
	height: 100%;
	width: 40%;
}
.footer__links__content{
	height: 100%;
	width: 80%;
	margin-left: 20%;
	font-family: 'Mukta', sans-serif;
	font-size: 12px;
	color: rgb(73, 73, 73);
}
h4{
	margin: 0;
	margin-top: 38px;
	margin-bottom: 38px;
	text-align: left;
}
a{
	display: block;
	margin-top: 15px;
	text-decoration: none;
	color: rgb(73, 73, 73);
}
