*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.border__top{
	height: 460px;
	width: 480px;
	background-image: url(../fon.jpg);
	display: flex;
	justify-content: center;
	align-items: center;
}
.form{
	height: 380px;
	width: 400px;
	font-family: 'Lato', sans-serif;
}
.form__header, .form__footer{
	height: 23%;
	width: 100%;
	background-color: rgb(211, 235, 242);
	position: relative;
}
.form__body{
	height: 54%;
	width: 100%;
	background-color: rgb(213, 247, 215);
	border-width: 1px;
	border-style: solid none;
	border-color: rgb(201, 201, 199);
}
h4{
	font-size: 28px;
	font-weight: 400;
	position: absolute;
	margin: 25px;
}
.form__body > div{
	display: flex;
	justify-content: space-between;
	align-items: center;

}
p{
	font-size: 13px;
	margin-left: 32px;
	margin-top: 20px;	
}
.form__item{
	height: 32px;
	width: 200px;
	margin-right: 30px;
	margin-top: 20px;
	position: relative;
}
.input__text{
	height: 32px;
	width: 200px;
	border:2px solid rgb(201, 201, 199);
}
.icon{
	width: 34px;
	height: 28px;
	position: absolute;
	right: 0px;
	top: 2px;
	color: rgb(201, 201, 199);
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
i{
	font-size: 12px;
	margin-left: 6px;
}
.prompt, .checkbox{
	margin-left: 170px;
}
.prompt{
	font-size: 11px;
	color: rgb(0, 159, 247);
	margin-top: 10px;
}
.checkbox, .checkbox__text{
	margin-top: 26px;
}
.checkbox__text{
	margin-right: 85px;
}
.register{
	position: absolute;
	right: 30px;
	top: 28px;
	height: 37px;
	width: 200px;
	display: flex;
	justify-content: space-between;
}
.input__register{
	width: 95px;
	border: none;
	color: white;
	background-color: rgb(172, 176, 177);
	font-size: 15px;
	cursor: pointer;
}
.input__submit{
	width: 85px;
	border: none;
	color: white;
	background-color: rgb(115, 191, 235);
	cursor: pointer;
}
