*{
	margin: 0;
	padding: 0;
}
body{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(200, 236, 247);
}
.registration__form{
	height: 435px;
	width: 500px;
	font-family: 'Outfit', sans-serif;
	border: 1px solid rgb(200, 236, 247);
	background-color: white;
}
h1{
	font-size: 44px;
	letter-spacing: -2px;
	text-align: center;
	line-height: 60px;
	margin-bottom: 20px;
}
p{
	font-size: 14px;
	margin-left: 20px;
	margin-bottom: 3px;
}
.account{
	display: block;
	height: 35px;
	width: 442px;
	border: 1px solid rgb(194, 197, 202);
	border-radius: 4px;
	margin-left: 20px;
	margin-bottom: 15px;
	padding-left: 10px;
}
.submit__data{
	height: 38px;
	width: 150px;
	font-size: 15px;
	color: white;
	background-color: rgb(0, 61, 247);
	border-radius: 5px;
	border: none;
	cursor: pointer;
	margin-left: 20px;
	box-shadow: 1px 2px 3px blue;
}
.account:focus{
	background: rgb(200, 236, 247);
	border: 1px solid blue;
}
.account:focus-visible{
    outline:none;