*{
	margin: 0;
	padding: 0;

}
body{
	height: 100vh;
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.contact__form{
	height: 430px;
	width: 500px;
	background-color: rgb(22, 21, 21);
	font-family: 'Readex Pro', sans-serif;
}
h2{
	color: white;
	font-size: 18px;
	margin-left: 5px;

}
.header{
	background-color: rgb(30, 30, 30);
	height: 35px;
	width: 99%;
	line-height: 35px;
	border-width: 1px;
	border-style: solid solid none;
	border-color: black;
}
.form__item{
	height: 60px;
	width: 99%;
	border-width: 1px;
	border-style: solid solid none;
	border-color: black;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
div > p{
	color: rgb(220, 229, 245);
	font-size: 13px;
	margin-bottom: 13px;
}
input[type="text"]{
	height: 33px;
	width: 220px;
	background-color: rgb(37, 37, 37);
	border: none;
	margin-right: 155px;
	margin-left: 20px;
}
#textarea__height{
	height: 170px;
}
.textarea__text{
	resize: none;
	height: 145px;
	width: 360px;
	background-color: rgb(37, 37, 37);
	border: none;
	margin: 15px 15px 15px 20px;
}
.submit{
	height: 27px;
	width: 100px;
	margin-left: 377px;
	border: none;
	background-color: red;
	color: white;
	cursor: pointer;
}
.p_message{
	margin-bottom: 120px;
}
